.toolbar {
    height: 5.6rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: $dark-orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toolbar__nav {
    height: 100%;
}