html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

button {
    cursor: pointer;
    outline: none;
}

button:disabled {
    cursor: not-allowed;
}

.main-content {
    margin-top: 1.6rem;
}